:root {
  --ifm-transition-fast: 0.25s;
  --ifm-transition-timing-default: linear;
}

a, p, button {
  transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default) !important;
}

* { 
  transition: background-color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}