/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0 6rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

h1.hero__title {
  font-size: 6rem;
  border-bottom: 'none';
}

@media screen and (max-width: 996px) {
  h1.hero__title {
    font-size: 4rem;
  }

  .heroBanner {
    padding: 2rem;
  }
}

.buttons_spaced {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 1rem;
}

.buttons_spaced .button {
  min-width: 20%;
  width: max-content;
}


@media screen and (max-width: 800px) {
  .buttons_spaced .button {
    font-size: calc(0.6rem * var(--ifm-button-size-multiplier));
    padding: calc(.5 * var(--ifm-button-padding-vertical) * var(--ifm-button-size-multiplier))
      calc(.5 * var(--ifm-button-padding-horizontal) * var(--ifm-button-size-multiplier));
  }

  .buttons {
    padding-top: 0.5rem;
  }
}