.navbar {
  box-shadow: unset;
  border-bottom: 1px var(--ifm-color-primary) solid;
}

.navbar__logo {
  height: var(--ll-navbar-logo-height);
}

.navbar__logo img {
  height: 80%;
}

.navbar__item, .dropdown__link {
  line-height: 1rem;
  transition: color 0.25s linear;
}

/* need the 'dropdown__menu' to trigger binding precedence */
.navbar__item:not(.navbar__link--active), .navbar__item > .navbar__link:not(.navbar__link-active), .dropdown__menu .dropdown__link {
  color: var(--ifm-color-primary);
  text-decoration: none;
}

.navbar__link--active, 
.dropdown__menu .dropdown__link--active, 
.navbar__item:has(.dropdown__link--active) .navbar__link,
.navbar__item:hover, 
.navbar__item:hover a.navbar__link, 
.dropdown__menu .dropdown__link:hover{
  color: var(--ifm-color-content-secondary);
  text-decoration: underline;
  background-color: inherit;
}

@media screen and (max-width: 996px) {
  .navbar {
    padding: var(--ifm-navbar-padding-vertical) var(--ifm-spacing-horizontal);
  }

  .navbar__brand {
    display: block;
    width: 100%;
    text-align: right;
  }
}